.container{
    max-width: 1200px;
    margin: 0 auto; 
  }
  .products-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .Vitrine{ 
    display: flex wrap;
    width: 24%;
    height: 500px;
    align-items: center;
    justify-content: space-between;
  }
  img{
    width: 175px;
  }
  .menu {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.1);
  }
  .menu-flex {
    display: flex;
    align-items: center;
  }
  .menu-column {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-start;
  }
  .menu-column.menu-second-column {
    justify-content: flex-end;
  }
  .menu-nav ul {
    display: flex;
    list-style: none;
    gap: 10px; 
  }
  .menu-nav ul li a {
    text-decoration: none;
    color: #585E65;
  }
  .menu-link-button,.btn-mb{
    margin-bottom: 16px;
    left: 24%;
    text-decoration: none;
    height: 48px;
    background-color: #4c6ef5;
    color: #fff;
    padding: 0 32px;
    display: flex;
    align-items: center;
    border: 1.5px;
    border-radius: 8px;
    cursor: pointer;
  }
  .btn-mb:hover{
    background: rgb(237, 164, 18);
    color:#4c6ef5;
  }